
/* พื้นหลังเต็มจอ */
.login-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F3F3F3;
  
}

/* การ์ดขาว */
.login-card {
  width: 380px;
  background: #ffffff;
  padding: 40px 36px;
  border-radius: 10px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
}

/* โลโก้ */
.login-logo {
  width: 70px;
  margin: 0 auto 12px;
}

/* หัวข้อ */
.login-title {
  text-align: center;
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: 600;
}

/* label */
.login-card label {
  font-size: 14px;
  margin-bottom: 6px;
  margin-top: 10px;
}

/* ช่องกรอก */
.login-card input {
  padding: 10px 12px;
  border-radius: 6px;
  border: 1px solid #d1d5db;
  margin-bottom: 6px;
  font-size: 14px;
}

.login-card input:focus {
  outline: none;
  border-color: #facc15;
}

/* ปุ่ม */
.login-button {
  margin-top: 22px;
  padding: 12px;
  border-radius: 6px;
  border: none;
  background: #facc15;
  color: #000;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.login-button:hover {
  background: #eab308;
}
