.container-403{
    width: 100%;
    height: 500px;
    margin-top: 80px;
    background-color: var(--bt-gray);
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-403{
    width: 50%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 0 5px;
    background-color: var(--color-clean);
}