.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FFD52B;
  padding: 15px 25px;
  width: 1440px auto;
  height: 95px;
}

.logo img {
    width: 120px;
    height: 120px;
    margin-left: 20px;
    object-fit: contain;
}

.menu {
  display: flex;
  gap: 24px;
}

.menu a {
  cursor: pointer;
  font-weight: 500;
}

.right {
  display: flex;
  align-items: center;
  gap: 55px;
}

.user {
  background: black;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
}
