.pagination {
  display: flex;
  gap: 6px;
  justify-content: center;
  margin-top: 16px;
}

.pagination button {
  padding: 6px 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  background: white;
  cursor: pointer;
}

.pagination button.active {
  background: var(--color-primary);
  color: var(--color-secondary);
  border-color: var(--color-primary);
  font-weight: bold;
}

.pagination button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
