@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;600&display=swap');

:root {
  --color-primary: #FFD52B;
  --color-secondary: #000;
  --color-clean: #fff;
  --bt-gray: #F3F3F3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
}

html, body, #root {
  font-family: 'Prompt', sans-serif;
}
