.user-menu {
  position: relative;
  background-color:var(--color-secondary);
  padding: 10px;
  border-radius: 10px;
}

.user-name {
  cursor: pointer;
  font-weight: bold;
  color: var(--color-primary);
}

.dropdown {
  position: absolute;
  top: 40px;
  right: 0;
  background: white;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  padding: 10px 10px;
  z-index: 1000;
}

.dropdown button {
  border: none;
  background: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding: 5px 30px;
}
